.user-photo {
  padding: 0 0 0 15px;
  max-width: 295px;
}

.data-table {
  padding: 0 80px;
  margin: 0;
}

.data-table__key,
.data-table__val {
  width: 230px;
  margin: 0;
  display: inline-block;
  border-top: 1px solid hsl(0, 0%, 90%);
  vertical-align: top;
}

.data-table__key:first-of-type,
.data-table__val:first-of-type {
  border: none;
}

.data-table__key {
  padding: 0 10px 0 0;
}

.data-table__val {
  font-style: italic;
}

.data-table:nth-of-type(2) .data-table__val:last-of-type {
  font-weight: bold;
}