/* site-logo
   ========================================================================== */

.site-logo {
  width: 390px;
  height: 93px;
  background-image: url(../../images/site_logo.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

/* logged-in-user
   ========================================================================== */

.logged-in-user {
  width: 150px;
  height: 93px;
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-end;
}

.logged-in-user__name {
  width: 100%;
  height: 14px;
  padding: 0;
  margin: 0;
  overflow: hidden;
  font-size: 14px;
  font-weight: bold;
  line-height: 1em;
  text-align: right;
}

.logged-in-user__name a {
  color: var(--main-color);
  text-decoration: none;
}

.logged-in-user__photo {
  width: 100%;
  height: 66px;
  overflow: hidden;
  background: url(../../content/logged_in_user_photo.jpg);
  background-size: cover;
  box-shadow: -1px 0 1px;
}

/* nav-header
   ========================================================================== */

.nav-header {
  padding: 0 5px 0;
  border-bottom: 5px solid var(--main-color);
}

.nav-header__links-container {
  padding: 0;
  margin: 0;
  list-style: none;
}

.nav-header__link {
  display: inline-block;
  margin: 0 5px 4px 0;
}

.nav-header__link a {
  padding: 0 15px 0;
  font-size: 1.4rem;
  text-transform: uppercase;
  color: var(--main-color);
  text-decoration: none;
}

.nav-header__link a:hover,
.nav-header__link a:focus {
  border-bottom: 4px solid var(--main-color);
}

.nav-header__active-link {
  border-bottom: 4px solid var(--main-color);
}
