html {
  font-size: 62.5%; /* 10px / 16px * 100% */
}

body {
  background: var(--base-color);
  font-family: Tahoma, sans-serif;
}

h1 {
  margin: 20px 0;
  font-size: 2.4rem;
  line-height: 3.4rem;
  font-weight: normal;
  color: var(--highlight-color);
}

h2 {
  margin: 20px 0;
  font-size: 2.1rem;
  line-height: 3rem;
  font-weight: normal;
  color: var(--highlight-color);
}

h3 {
  margin: 20px 0;
  font-size: 1.8rem;
  line-height: 2.6rem;
  font-weight: normal;
  color: var(--highlight-color);
}


/* background
   ========================================================================== */
@media (min-width: 880px) {
  .bg-container {
    width: 98.4%;
    height: 96.6vh;
    position: fixed;
    top: 1.6vh;
    left: 0.775%;
  }

  #bg-time-tags {
    background-image: url(../../images/bg_time_tags.png);
    background-size: contain;
    opacity: 0.05;
    z-index: -4;
  }

  #bg-water {
    background-image: url(../../images/bg_water.png);
    background-size: contain;
    background-position-x: -86vw;
    background-position-y: -107vh;
    opacity: 0.35;
    z-index: -3;
  }

  #bg-glare {
    background: linear-gradient(115deg, 
      hsla(0, 0%, 0%, 0) 15%,
      hsla(0, 100%, 100%, 0.4) 16%,
      hsla(0, 100%, 100%, 0.4) 18%,
      hsla(0, 0%, 0%, 0) 19%,
      hsla(0, 0%, 0%, 0) 36%,
      hsla(0, 100%, 100%, 0.4) 38%,
      hsla(0, 100%, 100%, 0.4) 39%,
      hsla(0, 0%, 0%, 0) 40%,
      hsla(0, 0%, 0%, 0) 64%,
      hsla(0, 100%, 100%, 0.4) 64.3%,
      hsla(0, 100%, 100%, 0.4) 64.6%,
      hsla(0, 0%, 0%, 0) 64.9%,
      hsla(0, 0%, 0%, 0) 88%,
      hsla(0, 100%, 100%, 0.4) 90%,
      hsla(0, 100%, 100%, 0.4) 93%,
      hsla(0, 0%, 0%, 0) 95%
    );
    z-index: -2;
  }

  #bg-border-shadow {
    border: 1px solid hsl(0, 0%, 30%);
    box-shadow: 0 0 15px black;
    z-index: -1;
  }

  #bg-strip-top {
    width: 100%;
    height: 1.7vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1001;
  }

  #bg-strip-bottom {
    width: 100%;
    height: 1.8vh;
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1002;
  }

  .bg-strip-left {
    width: 10%;
    min-width: 100px;
    background: linear-gradient(270deg,
      var(--base-color) 0%,
      hsla(0, 0%, 0%, 0) 100%
    );
  }

  .bg-strip-center {
    width: 640px;
    background: var(--base-color);
    flex-shrink: 0;
  }

  .bg-strip-right {
    width: 10%;
    min-width: 100px;
    background: linear-gradient(90deg,
      var(--base-color) 0%,
      hsla(0, 0%, 0%, 0) 100%
    );
  }
}


#wrapper {
  width: 640px;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  background: hsl(0, 0%, 100%);
}

@media (min-width: 880px) {
  #wrapper {
    min-height: 96.8vh;
    margin: 1.6vh auto 1.7vh;
  }
}


/* header
   ========================================================================== */
#wrapper header {
  position: relative;
}

.header-bg {
  height: 134px;
  width: 100%;
  background: var(--main-color);
  clip-path: polygon(0% 0%, 0% 100%, 5% 90%, 12% 90%, 22% 100%, 33% 100%, 39% 93%, 45% 93%, 49% 98%, 56% 100%, 60% 90%, 75% 90%, 90% 100%, 100% 100%, 100% 0%);
  position: absolute;
  top: 0;
  left: 0;
}

.header {
  padding: 15px 5px 25px;
  margin: 0 0 20px 0;
  display: flex;
  justify-content: space-between;
  background: hsl(227, 64%, 98%);
  clip-path: polygon(0% 0%, 0% 100%, 5% 90%, 12% 90%, 22% 100%, 33% 100%, 39% 93%, 45% 93%, 49% 98%, 56% 100%, 60% 90%, 75% 90%, 90% 100%, 100% 100%, 100% 0%);
}
/* site-logo
_____________________________________________________________________________ */
.site-logo {
  width: 390px;
  height: 93px;
  background-image: url(../../images/site_logo.svg);
  background-size: contain;
  background-repeat: no-repeat;
}
/* logged-in-user
_____________________________________________________________________________ */
.logged-in-user {
  width: 150px;
  height: 93px;
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-end;
}

.logged-in-user__name {
  width: 100%;
  height: 14px;
  padding: 0;
  margin: 0;
  overflow: hidden;
  font-size: 14px;
  font-weight: bold;
  line-height: 1em;
  text-align: right;
}

.logged-in-user__name a {
  color: var(--main-color);
  text-decoration: none;
}

.logged-in-user__photo {
  width: 100%;
  height: 66px;
  overflow: hidden;
  background: url(../../content/logged_in_user_photo.jpg);
  background-size: cover;
  box-shadow: -1px 0 1px;
}
/* nav-header
_____________________________________________________________________________ */
.nav-header {
  padding: 0 5px 0;
  border-bottom: 5px solid var(--main-color);
}

.nav-header__links-container {
  padding: 0;
  margin: 0;
  list-style: none;
}

.nav-header__link {
  display: inline-block;
  margin: 0 5px 4px 0;
}

.nav-header__link a {
  padding: 0 15px 0;
  font-size: 1.4rem;
  text-transform: uppercase;
  color: var(--main-color);
  text-decoration: none;
}

.nav-header__link a:hover,
.nav-header__link a:focus {
  border-bottom: 4px solid var(--main-color);
}

.nav-header__active-link {
  border-bottom: 4px solid var(--main-color);
}


/* main
   ========================================================================== */
#wrapper main {
  padding: 0 5px;
  margin: 40px 0;
  flex: 1;
  font-size: 1.4rem;
  line-height: 2rem;
}

#wrapper main h1,
#wrapper main h2 {
  padding: 0 0 0 15px;
}

#wrapper main p {
  padding: 0 80px;
  margin: 20px 0;
}


/* footer
   ========================================================================== */
#wrapper footer {
  background: hsl(279, 40%, 27%);
}

.btn-scroll-to-top {
  width: 100%;
  height: 20px;
  padding: 4px 0 0 0;
  display: block;
  border: none;
  outline: none;
  background: var(--highlight-color);
  box-shadow: inset 0 5px 2px 1px hsl(279, 40%, 27%);
  font-size: 14px;
  color: hsl(279, 40%, 27%);
  cursor: pointer;
}

.btn-scroll-to-top:active {
  border-bottom: 1px solid #fff;
  box-shadow: inset 0 5px 2px 2px hsl(279, 40%, 27%);
  padding: 7px 0 0 0;
  text-shadow:
    -1px -1px 0 hsl(0, 0%, 100%),
    1px -1px 0 hsl(0, 0%, 100%),
    0 1px 0 hsl(279, 40%, 27%);
}

.nav-footer {
  padding: 20px 5px 0;
}

.nav-footer nav {
  display: flex;
}

.nav-footer__links-container {
  width: 230px;
  padding: 0 0 0 15px;
  margin: 0 170px 0 0;
  list-style: none;  
}

.nav-footer__links-container:last-child {
   margin: 0;
}

.nav-footer__link {
  padding: 0 0 5px;
}

.nav-footer__link:last-child {
  padding: 0;
}

.nav-footer__link a {
  font-size: 1.4rem;
  text-transform: uppercase;
  color: hsl(0, 0%, 100%);
  text-decoration: none;
}

.nav-footer__link a:hover,
.nav-footer__link a:focus {
  text-decoration: underline;
}

#footer-copyright {
  padding: 20px 0;
  margin: 0;
  font-size: 1.4rem;
  color: hsla(0, 0%, 100%, 0.6);
  text-align: center;
}