@{
    ViewBag.Title = "Главная";
}

<h1>Добро пожаловать!</h1>
<p>
  Давайте быстро разберемся, где вы находитесь.
</p>
<p>
  Как следует из названия, здесь вы можете делиться с друзьями всякой увлекательной ерундой.
</p>
<p>
  Как и вы, мы ценим их время и делаем все, чтобы ваши друзья тратили как можно меньше времени на ерунду.
</p>
<p>
  Радуйте друзей, следите за своей статистикой и не забывайте - <strong>время течет!</strong>
</p>