@{
  Layout = "_BandLayout";
}

<h3>
  Случайные изображения с Flickr в категории "Ерунда".
</h3>

@section ServiceContent {
  <template class="band-item-template js-band-item-template" data-band-type="flickr-band">
    <div class="band-item">
      <p class="band-item__image-source-info js-band-item__image-source-info"></p>
      <div class="band-item__image-container">
        <img src="" class="band-item__image js-band-item__image" />
        <div class="band-item__image-cover-color"></div>
        <div class="band-item__image-cover-bubbles"></div>
      </div>
    </div>
  </template>
}