@{
  Layout = "_Layout";
  ViewBag.Title = "Лента";
  ViewBag.ShowSpentTime = true;
}

<div class="nav-secondary">
  <ul class="nav-secondary__links-container">
    <li class="nav-secondary__link"><a asp-action="MyBand" asp-controller="Band" th-nav-secondary th-is-active-route>Моя
    </a></li><li class="nav-secondary__link"><a asp-action="FlickrBand" asp-controller="Band" th-nav-secondary th-is-active-route>Flickr
    </a></li>
  </ul>
</div>

@RenderBody()

<div class="band-items-container js-band-items-container"></div>

<div class="data-loading-notification js-data-loading-notification js-data-loading-notification--hidden">
  <div class="data-loading-notification__top"></div>

  <div class="data-loading-notification__drop js-data-loading-notification__drop"></div>
  <div class="data-loading-notification__drop js-data-loading-notification__drop data-loading-notification__drop--number-2"></div>
  <div class="data-loading-notification__drop js-data-loading-notification__drop data-loading-notification__drop--number-3"></div>
  <div class="data-loading-notification__drop js-data-loading-notification__drop data-loading-notification__drop--number-4"></div>

  <span class="data-loading-notification__message-part js-data-loading-notification__message-part">за</span>
  <span class="data-loading-notification__message-part js-data-loading-notification__message-part 
        data-loading-notification__message-part--number-2">гр</span>
  <span class="data-loading-notification__message-part js-data-loading-notification__message-part 
        data-loading-notification__message-part--number-3">уз</span>
  <span class="data-loading-notification__message-part js-data-loading-notification__message-part 
        data-loading-notification__message-part--number-4">ка</span>
</div>

@section ServiceContent {
  @RenderSection("ServiceContent", false)

  <div class="page-overlay js-page-overlay">
    <div class="page-overlay__suggestions-container">
      <p class="page-overlay__suggestion js-page-overlay__suggestion">
        <span class="page-overlay__suggestion-row js-page-overlay__suggestion-row">Вы занимаетесь ерундой уже 20 минут. За это</span>
        <span class="page-overlay__suggestion-row js-page-overlay__suggestion-row">время можно прочитать 15 страниц</span>
        <span class="page-overlay__suggestion-row js-page-overlay__suggestion-row">произведения "Война и мир".</span>
      </p>
      <p class="page-overlay__suggestion js-page-overlay__suggestion">
        <span class="page-overlay__suggestion-row js-page-overlay__suggestion-row">Зачем тратить на ерунду 40 минут?</span>
        <span class="page-overlay__suggestion-row js-page-overlay__suggestion-row">Вы могли бы пробежать</span>
        <span class="page-overlay__suggestion-row js-page-overlay__suggestion-row">12 километров.</span>
      </p>
      <p class="page-overlay__suggestion js-page-overlay__suggestion">
        <span class="page-overlay__suggestion-row js-page-overlay__suggestion-row">Вы исчерпали свой лимит ерунды</span>
        <span class="page-overlay__suggestion-row js-page-overlay__suggestion-row">на сегодня и не можете</span>
        <span class="page-overlay__suggestion-row js-page-overlay__suggestion-row">продолжить.</span>
      </p>
      <input type="button" class="page-overlay__btn-hide-overlay js-page-overlay__btn-hide-overlay" value="Продолжить" />
    </div>
  </div>
}