@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
  <title>SiteMap</title>
  <style>
    a {
      color: hsl(0, 0%, 0%);
      font-size: 1.2rem;
      line-height: 1.5rem;
      text-decoration: none;
    }
    a:hover {
      color: hsl(0, 60%, 50%);
    }
  </style>
</head>
<body>
  <p>Main part</p>
  <a asp-action="Index" asp-controller="Home">Home</a><br />
  <a asp-action="Index" asp-controller="Profile">Profile</a><br />
  <a asp-action="Index" asp-controller="Feedback">Feedback</a><br />
  <a asp-action="Index" asp-controller="Band">Band</a><br />
  <p>Admin area</p>
  <a asp-action="Index" asp-controller="Accounts" asp-area="Admin">Users</a>
</body>
</html>