@{
  Layout = "_Layout";
  ViewBag.Title = "Лента";
  ViewBag.ShowSpentTime = true;
}

@section Styles {
  <link href="~/css/pages/band.css" rel="stylesheet" />
  @RenderSection("Styles", false)
}

@section Scripts {
  <script src="~/js/band.js"></script>
  @RenderSection("Scripts", false)
}

<h1>Новые сообщения</h1>
<h1>Новое на Flickr</h1>

<div id="items_container"></div>
@RenderBody()

<div id="page_overlay">
  <div>
    <p>
      <span>Вы занимаетесь ерундой уже 20 минут. За это</span>
      <span>время можно прочитать 15 страниц</span>
      <span>произведения "Война и мир".</span>
    </p>
    <p>
      <span>Зачем тратить на ерунду 40 минут?</span>
      <span>Вы могли бы пробежать</span>
      <span>12 километров.</span>
    </p>
    <p>
      <span>Вы исчерпали свой лимит ерунды</span>
      <span>на сегодня и не можете</span>
      <span>продолжить.</span>
    </p>
    <input type="button" onclick="hideOverlay();" value="Продолжить" />
  </div>
</div>