.band-item__image-source-info {
  padding: 0 0 0 15px;
  margin: 0;
  font-size: 1.2rem;
  font-weight: bold;
}

.band-item__image-source-info a {
  color: var(--main-color);
  text-decoration: none;
}