/* main
   ========================================================================== */
.item .item_message_info {
  padding: 0 0 0 15px;
  margin: 0;
  font-size: 1.2rem;
  color: var(--main_color);
}
.item .item_message_info_from {
  font-weight: bold;
}
