/* header
   ========================================================================== */

.logged-in-user__spent-time {
  width: 100%;
  height: 34px;
  overflow: hidden;
  font-family: Agency FB, sans-serif;
  font-size: 41.8px;
  font-weight: bold;
  line-height: 0.75em;
  color: var(--highlight-color);
}

.logged-in-user__name-time-separator {
  width: 70px;
  height: 5px;
  margin: 14px 0 13px;
  background: var(--main-color);
}


/* main
   ========================================================================== */

.band-item {
  padding: 0 0 5px 0;
  margin: 0 0 20px 0;
  border-bottom: 1px solid hsl(0, 0%, 90%);
}

.band-item:last-child {
  padding: 0;
  margin: 0;
  border-bottom: none;
}

/* band-item__image
   ========================================================================== */

.band-item__image-container {
  position: relative;
  display: inline-block;
  overflow: hidden;
}

.band-item__image {
  max-width: 100%;
  transform: scale(0.8);
}

.band-item__image-cover-color {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: hsl(227, 64%, 98.6%);
}

.band-item__image-cover-bubbles {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: url(../../images/band_item_image_cover.png);
  background-size: cover;
  opacity: 0.08;
}

.band-item__image-container:hover .band-item__image,
.band-item__image-container:focus .band-item__image {
  animation: band-item-image-scale-up-down 40s;
}

@keyframes band-item-image-scale-up-down {
  6%,
  80% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.8);
  }
}

.band-item__image-container:hover .band-item__image-cover-color,
.band-item__image-container:focus .band-item__image-cover-color {
  animation: band-item-image-uncover-color 40s;
}

@keyframes band-item-image-uncover-color {
  10%,
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.band-item__image-container:hover .band-item__image-cover-bubbles,
.band-item__image-container:focus .band-item__image-cover-bubbles {
  animation: band-item-image-uncover-bubbles 40s;
}

@keyframes band-item-image-uncover-bubbles {
  10%,
  80% {
    opacity: 0;
    transform: scale(1.07);
  }
  100% {
    opacity: 0.08;
  }
}

/* data-loading-notification
   ========================================================================== */

.data-loading-notification {
  width: 120px;
  margin: 20px auto 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto 50px auto;
  justify-items: center;
  align-items: end;
}

.js-data-loading-notification--hidden {
  visibility: hidden;
}

.data-loading-notification__top {
  width: 100%;
  height: 1px;
  grid-column: 1 / 5;
  border-style: solid;
  border-color: var(--main-color);
  border-width: 5px 1px;
  background: var(--base-color);
}

.data-loading-notification__drop {
  width: 0;
  height: 0;
  transform: translateY(-50px);
  background: radial-gradient(farthest-corner,
    var(--base-color) 43%,
    var(--main-color) 45%
  );
  clip-path: polygon(50% 0%, 100% 55%, 100% 80%, 75% 100%, 25% 100%, 0% 80%, 0% 55%);
}

.js-data-loading-notification__drop--animated {
  animation: falling-drop 1s infinite cubic-bezier(.28, 0, 0, -0.7);
}

.data-loading-notification__drop--number-2 {
  animation-delay: .3s;
}

.data-loading-notification__drop--number-3 {
  animation-delay: .85s;
}

.data-loading-notification__drop--number-4 {
  animation-delay: .55s;
}

@keyframes falling-drop {
  0% {
    width: 7px;
  }
  15% {
    width: 15px;
    height: 25px;
    transform: translateY(-25px);
  }
  80% {
    width: 15px;
    height: 25px;
    opacity: 1;
    transform: translateY(10px);
  }
  90% {
    width: 20px;
    height: 5px;
  }
  100% {
    width: 30px;
    height: 0;
    opacity: 0;
    transform: translateY(10px);
  }
}

.data-loading-notification__message-part {
  font-size: 14px;
  font-weight: bold;
  color: var(--main-color);
}

.js-data-loading-notification__message-part--animated {
  animation: flashing-letters 1s infinite linear;
}

.data-loading-notification__message-part--number-2 {
  animation-delay: .3s;
}

.data-loading-notification__message-part--number-3 {
  animation-delay: .85s;
}

.data-loading-notification__message-part--number-4 {
  animation-delay: .55s;
}

@keyframes flashing-letters {
  100% {
    color: var(--base-color);
  }
}

/* page-overlay
   ========================================================================== */

.page-overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  background: hsla(0, 0%, 0%, 0.7);
  transition: opacity 0.5s 0.4s;
  z-index: 10000;
}

.page-overlay__suggestions-container {
  width: 310px;
  padding: 20px 80px;
  margin: 40vh auto;
  font-size: 1.4rem;
  line-height: 2rem;
  text-align: center;
  overflow: hidden;
  background: hsl(0, 0%, 100%);
}

.page-overlay__suggestion {
  margin: 0;
  display: none;
}

.js-page-overlay__active-suggestion {
  display: block;
}

.page-overlay__suggestion-row {
  display: block;
}

.js-page-overlay__suggestion-row--hide-row1 {
  transition: 0.4s ease-in;
  transform: translateX(700px);
}

.js-page-overlay__suggestion-row--hide-row2 {
  transition: 0.4s ease-in;
  transform: translateX(-1200px);
}

.js-page-overlay__suggestion-row--hide-row3 {
  transition: 0.4s ease-out 0.2s;
  transform: translateX(1400px);
}

.page-overlay__btn-hide-overlay {
  padding: 5px 20px;
  margin: 20px auto 0;
  background: hsl(0, 0%, 100%);
  font-size: 1.2rem;
  box-shadow: 0 0 2px hsl(0, 0%, 0%);
  border: 1px solid;
  border-radius: 0px;
  cursor: pointer;
  transition: 0.4s;
}

.page-overlay__btn-hide-overlay:hover,
.page-overlay__btn-hide-overlay:focus {
  box-shadow: 0 0 4px hsl(0, 0%, 0%);
  border: 1px solid hsl(0, 0%, 40%);
}