@{
    ViewBag.Title = "Профиль";
}

@section Styles {
    <link href="~/lib/stylesheets/pages/profile.css" rel="stylesheet" />
}

<h1>Мой профиль</h1>
<img src="~/lib/content/user_photo.jpg" alt="Ваше фото" />
<h2>Личная информация</h2>
<dl>
  <dt>Логин</dt><dd>ALEX ADONNIX</dd>
  <dt>Имя</dt><dd>Имя неизвестно</dd>
  <dt>Фамилия</dt><dd>Фамилия неизвестна</dd>
  <dt>Дата рождения</dt><dd>01.01.1990</dd>
  <dt>Безрассудно трачу драгоценное время на</dt><dd>Канал RedBully на YouTube</dd>
</dl>
<h2>Потрачено на ерунду</h2>
<dl>
  <dt>Сегодня</dt><dd>00:16</dd>
  <dt>За месяц</dt><dd>05:49</dd>
  <dt>За год</dt><dd>62:35</dd>
  <dt>Всего</dt><dd>122:04</dd>
</dl>